<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Home.css">
</head>
<body>
    <div class="box">
        <span style="--i:1">
          <img
            src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_1500,h_1500/global/374606/01/sv01/fnd/PNA/fmt/png/RS-X-Lava-Blast-Sneakers"
            width="200px"
            height="200px"
          />
        </span>
        <span style="--i:2">
          <img
            src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_1500,h_1500/global/193348/01/sv01/fnd/PNA/fmt/png/H.ST.20-KIT-Men's-Training-Shoe"
            width="200px"
            height="200px"
          />
        </span>
        <span style="--i:3">
          <img
            src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_1500,h_1500/global/373442/01/sv01/fnd/PNA/fmt/png/LQDCELL-Extol-Archive-Men's-Training-Shoes"
            width="200px"
            height="200px"
          />
        </span>
        <span style="--i:4">
          <img
            src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_1500,h_1500/global/372712/01/sv01/fnd/PNA/fmt/png/PUMA-x-CENTRAL-SAINT-MARTINS-RS-X-Sneakers"
            width="200px"
            height="200px"
          />
        </span>
        <span style="--i:5">
          <img
            src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_1500,h_1500/global/193384/08/sv01/fnd/PNA/fmt/png/HYBRID-NX-Ozone-Men's-Running-Shoes"
            width="200px"
            height="200px"
          />
        </span>
        <span style="--i:6">
          <img
            src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_1500,h_1500/global/373416/01/sv01/fnd/PNA/fmt/png/RS-X-5E-Men's-Sneakers"
            width="200px"
            height="200px"
          />
        </span>
        <span style="--i:7">
          <img
            src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_1500,h_1500/global/373416/01/sv01/fnd/PNA/fmt/png/RS-X-5E-Men's-Sneakers"
            width="200px"
            height="200px"
          />
        </span>
        <span style="--i:8">
          <img
            src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_1500,h_1500/global/105738/01/sv01/fnd/PNA/fmt/png/PUMA-ONE-5.1-City-FG/AG-Men's-Soccer-Cleats"
            width="200px"
            height="200px"
          />
        </span>
      </div>
</body>
</html>